@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@media screen and (max-width: 768px) and (min-width: 321px) {
  .main__image {
    height: 40vh;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1030px) {
  .header {
    max-width: 1440px;
    margin: 0 auto;
  }
  .main {
    max-width: 1440px;
    margin: 0 auto;
  }
  .main__image {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
  }
  .main__image img {
    width: 100%;
    height: 50vh;
  }
  .main .menu-cardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main__menu__entree {
    width: 30%;
  }
  .main__menu__entree__card {
    width: 100% !important;
  }
  .main__menu__plat {
    width: 30%;
  }
  .main__menu__plat__card {
    width: 100% !important;
  }
  .main__menu__dessert {
    width: 30%;
  }
  .main__menu__dessert__card {
    width: 100% !important;
  }
  .footer {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
  }
  .footer__ul__li {
    margin: 0 5px;
  }
}
:root {
  font-size: 10px;
  font-family: "roboto";
}

.header {
  display: flex;
  align-items: center;
}
.header .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
}
.header__bouton {
  margin-left: 15px;
}
.header__bouton i {
  font-size: 2rem;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body {
  background: #f7f6f7;
}

.main__image img {
  aspect-ratio: 1.2/1;
  object-fit: cover;
}
.main__menu {
  width: 100%;
  padding: 30px 10px 40px 10px;
  background: #f7f6f7;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  transform: translateY(-5%);
}
.main__menu__h1 {
  font-size: 2.4rem;
  font-family: "Shrikhand", cursive;
  position: relative;
  width: calc(100% - 20px);
  margin: 0 auto;
}
.main__menu__h1__heart {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  /*Animation du coeur*/
}
.main__menu__h1__heart i:hover {
  cursor: pointer;
  animation-name: fillHeart;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes fillHeart {
  0% {
    background: linear-gradient(white 100%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  10% {
    background: linear-gradient(white 90%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  20% {
    background: linear-gradient(white 80%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  30% {
    background: linear-gradient(white 70%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  40% {
    background: linear-gradient(white 60%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  50% {
    background: linear-gradient(white 50%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  60% {
    background: linear-gradient(white 40%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  70% {
    background: linear-gradient(white 30%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  80% {
    background: linear-gradient(white 20%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  90% {
    background: linear-gradient(white 10%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  100% {
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
}
.main__menu div {
  animation-name: apparition;
}
.main__menu__entree__h2 {
  font-size: 1.4rem;
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
}
.main__menu__entree__h2::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 3px;
  background: #99E2D0;
  top: 120%;
  left: 0;
}
.main__menu__entree__card {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 6.6rem;
  padding: 10px;
  padding-right: 0;
  border-radius: 20px;
  background: #fffefe;
  margin-top: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.151);
  overflow: hidden;
  /*Slide droite au hover*/
}
.main__menu__entree__card--blockH2etP {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main__menu__entree__card .elementHover {
  background: #99E2D0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__menu__entree__card .elementHover i {
  font-size: 0;
}
.main__menu__entree__card:hover {
  cursor: pointer;
}
.main__menu__entree__card:hover .elementHover {
  animation-name: slideToLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.main__menu__entree__card:hover .elementHover i {
  font-size: 2rem;
  transform: rotate(360deg);
  animation-name: rotate360;
  animation-duration: 0.5s;
  color: white;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slideToLeft {
  0% {
    width: 0rem;
    height: 70px;
    background: #99E2D0;
    font-size: 2rem;
  }
  100% {
    width: 7rem;
    height: 70px;
  }
}
.main__menu__entree__card__nomPlat {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main__menu__entree__card__ingredients {
  font-size: 1.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 5px;
}
.main__menu__entree__card__prix {
  font-size: 1.4rem;
  align-self: flex-end;
  margin-right: 10px;
}
.main__menu__entree .card-1 {
  animation-duration: 0.75s;
}
.main__menu__entree .card-2 {
  animation-duration: 1.25s;
}
.main__menu__entree .card-3 {
  animation-duration: 1.75s;
}
.main__menu__entree .card-4 {
  animation-duration: 2.25s;
}
.main__menu__plat__h2 {
  font-size: 1.4rem;
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
}
.main__menu__plat__h2::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 3px;
  background: #99E2D0;
  top: 120%;
  left: 0;
}
.main__menu__plat__card {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 6.6rem;
  padding: 10px;
  padding-right: 0;
  border-radius: 20px;
  background: #fffefe;
  margin-top: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.151);
  overflow: hidden;
  /*Slide droite au hover*/
}
.main__menu__plat__card--blockH2etP {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main__menu__plat__card .elementHover {
  background: #99E2D0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__menu__plat__card .elementHover i {
  font-size: 0;
}
.main__menu__plat__card:hover {
  cursor: pointer;
}
.main__menu__plat__card:hover .elementHover {
  animation-name: slideToLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.main__menu__plat__card:hover .elementHover i {
  font-size: 2rem;
  transform: rotate(360deg);
  animation-name: rotate360;
  animation-duration: 0.5s;
  color: white;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slideToLeft {
  0% {
    width: 0rem;
    height: 70px;
    background: #99E2D0;
    font-size: 2rem;
  }
  100% {
    width: 7rem;
    height: 70px;
  }
}
.main__menu__plat__card__nomPlat {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main__menu__plat__card__ingredients {
  font-size: 1.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 5px;
}
.main__menu__plat__card__prix {
  font-size: 1.4rem;
  align-self: flex-end;
  margin-right: 10px;
}
.main__menu__plat .card-1 {
  animation-duration: 0.75s;
}
.main__menu__plat .card-2 {
  animation-duration: 1.25s;
}
.main__menu__plat .card-3 {
  animation-duration: 1.75s;
}
.main__menu__plat .card-4 {
  animation-duration: 2.25s;
}
.main__menu__dessert__h2 {
  font-size: 1.4rem;
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
}
.main__menu__dessert__h2::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 3px;
  background: #99E2D0;
  top: 120%;
  left: 0;
}
.main__menu__dessert__card {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 6.6rem;
  padding: 10px;
  padding-right: 0;
  border-radius: 20px;
  background: #fffefe;
  margin-top: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.151);
  overflow: hidden;
  /*Slide droite au hover*/
}
.main__menu__dessert__card--blockH2etP {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main__menu__dessert__card .elementHover {
  background: #99E2D0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__menu__dessert__card .elementHover i {
  font-size: 0;
}
.main__menu__dessert__card:hover {
  cursor: pointer;
}
.main__menu__dessert__card:hover .elementHover {
  animation-name: slideToLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.main__menu__dessert__card:hover .elementHover i {
  font-size: 2rem;
  transform: rotate(360deg);
  animation-name: rotate360;
  animation-duration: 0.5s;
  color: white;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slideToLeft {
  0% {
    width: 0rem;
    height: 70px;
    background: #99E2D0;
    font-size: 2rem;
  }
  100% {
    width: 7rem;
    height: 70px;
  }
}
.main__menu__dessert__card__nomPlat {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main__menu__dessert__card__ingredients {
  font-size: 1.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 5px;
}
.main__menu__dessert__card__prix {
  font-size: 1.4rem;
  align-self: flex-end;
  margin-right: 10px;
}
.main__menu__dessert .card-1 {
  animation-duration: 0.75s;
}
.main__menu__dessert .card-2 {
  animation-duration: 1.25s;
}
.main__menu__dessert .card-3 {
  animation-duration: 1.75s;
}
.main__menu__dessert .card-4 {
  animation-duration: 2.25s;
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.main__menu__bouton {
  border-radius: 50px;
  padding: 20px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  font-size: 1.6rem;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.247);
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 15px 40px;
}
.main__menu__bouton:hover {
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.527);
  cursor: pointer;
  background: linear-gradient(#ff9ae2, #9c6ada);
}

.footer {
  background: #343534;
  padding: 20px;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.6rem;
  color: rgba(254, 255, 254, 0.9176470588);
}
.footer__ul {
  margin-top: 15px;
  margin-bottom: 20px;
  /*Selection des li ainsi que du li contact qui est dans un a*/
  /*Selection de l'icône du 2eme li*/
}
.footer__ul__li, .footer__ul__a {
  font-size: 1.4rem;
  color: rgba(254, 255, 254, 0.9176470588);
  line-height: 2.5rem;
}
.footer__ul__li:hover, .footer__ul__a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer__ul__li__icones, .footer__ul__a__icones {
  font-size: 1.2rem;
  margin-right: 10px;
}
.footer__ul__li:nth-child(2n) span i {
  width: 1.05rem;
}

/*# sourceMappingURL=stylePagesMenu.css.map */
