$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

@mixin header {
    .header {
        &__logo {
            @include flexRowCenter;
            width: 50%;
            margin: 0 auto;
            padding: 20px 0;
        }
    }
}

@mixin flexRowCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin buttonStyle {
    border-radius: 50px;
    padding: 20px;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    border: none;
    font-size: 1.6rem;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.247);

    &:hover {
        box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.527);
        cursor: pointer;
        background: linear-gradient(#ff9ae2, #9c6ada);
    }
}

@mixin styleCarteMenu {
    &__h2 {
        font-size: 1.4rem;
        margin-top: 20px;
        position: relative;
        margin-bottom: 20px;

        &::after {
            content: "";
            position: absolute;
            width: 35px;
            height: 3px;
            background: $tertiary;
            top: 120%;
            left: 0;
        }
    }

    &__card {
        display: flex;
        align-items: center;
        width: 100%;
        max-height: 6.6rem;
        padding: 10px;
        padding-right: 0;
        border-radius: 20px;
        background: #fffefe;
        margin-top: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.151);
        overflow: hidden;


        &--blockH2etP {
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

        }

        /*Slide droite au hover*/
        .elementHover {
            background: $tertiary;
            @include flexColumnCenter;

            i {
                font-size: 0;
            }
        }

        &:hover {
            cursor: pointer;

            .elementHover {
                animation-name: slideToLeft;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;

                i {
                    font-size: 2rem;
                    transform: rotate(360deg);
                    animation-name: rotate360;
                    animation-duration: 0.5s;
                    color: white;
                }
            }

            @keyframes rotate360 {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            @keyframes slideToLeft {
                0% {
                    width: 0rem;
                    height: 70px;
                    background: $tertiary;
                    font-size: 2rem;
                }

                100% {
                    width: 7rem;
                    height: 70px;
                }
            }
        }

        &__nomPlat {
            font-size: 1.6rem;
            font-weight: bold;
            line-height: 30px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &__ingredients {
            font-size: 1.2rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-right: 5px;
        }

        &__prix {
            font-size: 1.4rem;
            align-self: flex-end;
            margin-right: 10px;
        }
    }
}

@mixin footer {
    .footer {
        background: #343534;
        padding: 20px;

        &__logo {
            font-family: 'Shrikhand', cursive;
            font-size: 1.6rem;
            color: #fefffeea;
        }

        &__ul {
            margin-top: 15px;
            margin-bottom: 20px;

            /*Selection des li ainsi que du li contact qui est dans un a*/
            &__li,
            &__a {
                font-size: 1.4rem;
                color: #fefffeea;
                line-height: 2.5rem;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

                &__icones {
                    font-size: 1.2rem;
                    margin-right: 10px;
                }

            }

            /*Selection de l'icône du 2eme li*/
            &__li:nth-child(2n) span i {
                width: 1.05rem;
            }
        }
    }
}