@mixin flexRowCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin buttonStyle {
    border-radius: 50px;
    padding: 20px;
    color: white;
    background: linear-gradient(#ec83dc, #a35adb);
    border: none;
    font-size: 16px;
}