@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@media screen and (max-width: 768px) and (min-width: 321px) {
  :root {
    font-size: 14px;
  }
  header {
    max-width: 1440px;
  }
  .main {
    max-width: 1440px;
  }
  .main__cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 100%;
    height: auto;
  }
  .main__cardContainer a {
    min-width: 250px;
    width: 45%;
  }
  .footer {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 769px) {
  :root {
    font-size: 14px;
  }
  .header {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 0.25fr repeat(2, 0.5fr);
    grid-template-columns: 1fr 1fr;
  }
  .header__logo {
    width: 100%;
    grid-area: 1/1/1/3;
  }
  .header__location {
    grid-area: 2/2/2/3;
    box-shadow: none !important;
  }
  .header__restaurantSearch {
    grid-column: 2;
    background: rgba(234, 235, 235, 0.6862745098) !important;
  }
  .header__instructions {
    grid-area: 2/1/4/2;
    background: #f7f7f6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__instructions__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header__instructions__ul__li {
    background: white !important;
    margin-bottom: 1rem;
  }
  .main {
    max-width: 1440px;
    background: white;
    margin: 0 auto;
  }
  .main__cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 100%;
    height: auto;
  }
  .main__cardContainer a {
    height: 400px;
    width: 45%;
    margin-bottom: 30px;
  }
  .main__cardContainer a .main__cardContainer__card {
    height: 100%;
  }
  .footer {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/*Loader*/
.loader {
  position: fixed;
  inset: 0;
  background: #000000;
  height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: loaderDisparition 3s forwards;
}
.loader i {
  color: white;
  font-size: 10rem;
  line-height: 0.87;
  animation: loaderAnim 2.5s infinite ease-in;
  position: relative;
}
.loader .line {
  height: 2px;
  width: 12rem;
  background: white;
}
.loader .dots {
  display: flex;
  width: 50px;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
.loader .dots .dot {
  width: 1rem;
  height: 1rem;
  background: white;
  border-radius: 50%;
  animation: dotsAnim 0.4s infinite alternate;
}
.loader .dots .d1 {
  animation-delay: 0.1s;
}
.loader .dots .d2 {
  animation-delay: 0.15s;
}
.loader .dots .d3 {
  animation-delay: 0.2s;
}

/*Création de l'animation*/
@keyframes loaderDisparition {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes dotsAnim {
  to {
    transform: translateY(-10px);
  }
}
@keyframes loaderAnim {
  0% {
    transform: scaleY(1);
    bottom: 0;
    color: #9356DC;
  }
  10% {
    transform: scaleY(0.5);
    bottom: -2.3rem;
    color: #9356DC;
  }
  20% {
    transform: scaleY(1);
    bottom: 0;
    color: #9356DC;
  }
  30% {
    transform: scaleY(1);
    bottom: 20px;
    color: #9356DC;
  }
  40% {
    transform: scaleY(1);
    bottom: 0;
  }
  50% {
    transform: scaleY(0.5);
    bottom: -2.3rem;
    color: #FF79DA;
  }
  60% {
    transform: scaleY(1);
    bottom: 0;
    color: #FF79DA;
  }
  70% {
    transform: scaleY(1);
    bottom: 20px;
    color: #FF79DA;
  }
  80% {
    transform: scaleY(1);
    bottom: 0;
  }
  90% {
    transform: scaleY(0.5);
    bottom: -2.3rem;
    color: #99E2D0;
  }
  100% {
    transform: scaleY(1);
    bottom: 0;
    color: #99E2D0;
  }
}
.header .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
}
.header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  background-color: #eaebeb;
  box-shadow: inset 0 5px 5px #dbdada;
}
.header__location i {
  font-size: 1.4rem;
}
.header__location__p {
  margin-left: 30px;
  font-size: 1.4rem;
}
.header__restaurantSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f7f7f6;
}
.header__restaurantSearch__h1 {
  padding: 40px 45px 15px 45px;
  font-weight: 700;
  font-size: 2.6rem;
  text-align: center;
}
.header__restaurantSearch__p {
  font-size: 1.8rem;
  text-align: center;
  padding: 0 20px 30px 20px;
}
.header__restaurantSearch__btn {
  border-radius: 50px;
  padding: 20px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  font-size: 1.6rem;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.247);
  margin-bottom: 60px;
}
.header__restaurantSearch__btn:hover {
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.527);
  cursor: pointer;
  background: linear-gradient(#ff9ae2, #9c6ada);
}
.header__instructions {
  padding: 50px 20px;
}
.header__instructions__h2 {
  font-weight: 500;
  font-size: 2.4rem;
}
.header__instructions__ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 22rem;
  margin-top: 25px;
}
.header__instructions__ul__li {
  width: 100%;
  text-align: start;
  border-radius: 50px;
  background: #f6f6f6;
  padding: 20px 40px;
  position: relative;
  font-size: 1.4rem;
}
.header__instructions__ul__li span {
  color: white;
  font-size: 10px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 0;
  transform: translateX(-30%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #9356DC;
}
.header__instructions__ul__li:hover {
  background: #f4edfe;
}
.header__instructions__ul__li:hover i {
  color: #9356DC;
}
.header__instructions__ul__li__icons {
  margin-right: 20px;
  color: #7e7e7e;
}

.main {
  background: #f6f6f6;
  padding: 50px 20px;
}
.main__h2 {
  font-weight: 500;
  font-size: 2.4rem;
}
.main__cardContainer {
  margin-top: 30px;
}
.main__cardContainer__card {
  position: relative;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.075);
  padding-bottom: 1rem;
}
.main__cardContainer__card__stickersNouveau {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #99E2D0;
  color: #139273;
  padding: 5px 7px;
  border-radius: 2px;
  font-size: 1.1rem;
}
.main__cardContainer__card__img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.main__cardContainer__card__footer {
  padding-top: 10px;
  padding-left: 15px;
  position: relative;
  width: 100%;
  height: auto;
}
.main__cardContainer__card__footer__h3 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3rem;
}
.main__cardContainer__card__footer__p {
  font-size: 1.4rem;
}
.main__cardContainer__card__footer__heart {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2.2rem;
  /*Animation du coeur*/
}
.main__cardContainer__card__footer__heart i:hover {
  cursor: pointer;
  animation-name: fillHeart;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

/*Animation du coeur*/
@keyframes fillHeart {
  0% {
    background: linear-gradient(white 100%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
  }
  10% {
    background: linear-gradient(white 90%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
  }
  20% {
    background: linear-gradient(white 80%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
  }
  30% {
    background: linear-gradient(white 70%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
  }
  40% {
    background: linear-gradient(white 60%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
  }
  50% {
    background: linear-gradient(white 50%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
  }
  60% {
    background: linear-gradient(white 40%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
  }
  70% {
    background: linear-gradient(white 30%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
  }
  80% {
    background: linear-gradient(white 20%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
  }
  90% {
    background: linear-gradient(white 10%, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
  }
  100% {
    background: linear-gradient(#9356DC, #FF79DA, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
  }
}
.footer {
  background: #343534;
  padding: 20px;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.6rem;
  color: rgba(254, 255, 254, 0.9176470588);
}
.footer__ul {
  margin-top: 15px;
  margin-bottom: 20px;
  /*Selection des li ainsi que du li contact qui est dans un a*/
  /*Selection de l'icône du 2eme li*/
}
.footer__ul__li, .footer__ul__a {
  font-size: 1.4rem;
  color: rgba(254, 255, 254, 0.9176470588);
  line-height: 2.5rem;
}
.footer__ul__li:hover, .footer__ul__a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer__ul__li__icones, .footer__ul__a__icones {
  font-size: 1.2rem;
  margin-right: 10px;
}
.footer__ul__li:nth-child(2n) span i {
  width: 1.05rem;
}

/*# sourceMappingURL=styleIndex.css.map */
