@mixin queriesDesktop {
    @media screen and (min-width: 1030px) {
        $max-width: 1440px;

        .header {
            max-width: $max-width;
            margin: 0 auto;
        }

        .main {
            max-width: $max-width;
            margin: 0 auto;

            &__image {
                max-width: $max-width;
                margin: 0 auto;
                width: 100%;

                img {
                    width: 100%;
                    height: 50vh;
                }
            }

            .menu-cardContainer {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &__menu {
                &__entree {
                    width: 30%;

                    &__card {
                        width: 100% !important;
                    }
                }

                &__plat {
                    width: 30%;

                    &__card {
                        width: 100% !important;
                    }
                }

                &__dessert {
                    width: 30%;

                    &__card {
                        width: 100% !important;
                    }
                }

            }
        }

        .footer {
            max-width: $max-width;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__ul {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 50%;

                &__li {
                    margin: 0 5px;
                }
            }
        }
    }

}